# COGS 108 - Data Checkpoint

# Names

- Tyler Le
- Aditya Tomar
- William Lynch
- Michael Mao
- Natalie Quach

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Average Climate by County (Average_Climate_By_County.csv)
- https://www.ncdc.noaa.gov/cag/county/mapping
- Number of observations: 3137
- Number of features: 3. Contains a combination of numerical and string types.

This dataset contains the mean climate over a 5-year span from 2017 to 2022 for all counties in the USA except those in Hawaii. The climate is measured in Fahrenheit.

This dataset is for comparing the correlation between natural disasters vs cost of living with climate vs cost of living because climate is a potential confounding variable that affects cost of living.

# Setup

In [2]:
## YOUR CODE HERE
import pandas as pd

# Data Cleaning

Describe your data cleaning steps here.

In [40]:
#This dataset was very clean. All that we needed to change was remove ID numbers after the state abbreviations and change the column names from "Location ID" to "State", "Location" to "County", and "Value" to "Temperature (F)". 

#Dataset for the mean climate for each county in the USA except those in Hawaii. The climate is measured over a 5-year span from 2017-2022. 
climate_df = pd.read_csv('datasets/Average_Climate_By_County.csv')
climate_df['Location ID'] = climate_df['Location ID'].apply([lambda x: x[0:2]])
climate_df = climate_df.rename(columns={'Location ID': 'State', 'Location': 'County', 'Value': 'Temperature (F)'})
climate_df

     State                           County  Temperature (F)
0       AL                   Autauga County             65.7
1       AL                   Baldwin County             68.4
2       AL                   Barbour County             66.0
3       AL                      Bibb County             63.9
4       AL                    Blount County             62.7
...    ...                              ...              ...
3132    AK             Skagway Municipality             30.9
3133    AK  Southeast Fairbanks Census Area             25.7
3134    AK        Wrangell City and Borough             40.0
3135    AK         Yakutat City and Borough             33.9
3136    AK        Yukon-Koyukuk Census Area             27.2

[3137 rows x 3 columns]