# COGS 108 - Data Checkpoint

# Names

- Tyler Le
- Aditya Tomar
- William Lynch
- Michael Mao
- Natalie Quach

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [73]:
import pandas as pd

# Data Cleaning

Describe your data cleaning steps here.

In [74]:
df = pd.read_csv("datasets/housing_price_estimates.csv")

#dfRange will give the Price of homes in set ranges, may make it easier to implement in a visual
df['2021'] = df['Price-RangeQ22021']
df['2020'] = df['Price-RangeQ32020']
df['2019'] = df['Price-RangeQ42019']
df['2018'] = df['Price-RangeQ32018']

dfRange = df[['Geography', 'State', '2018', '2019', '2020', '2021']]

dfRange

,Geography,State,2018,2019,2020,2021
0,"Autauga County, Alabama",Alabama,"Less than $150,000","$150,000-$350,000","$150,000-$350,000","$150,000-$350,000"
1,"Baldwin County, Alabama",Alabama,"$150,000-$350,000","$150,000-$350,000","$150,000-$350,000","$150,000-$350,000"
2,"Barbour County, Alabama",Alabama,"Less than $150,000","Less than $150,000","Less than $150,000","Less than $150,000"
3,"Bibb County, Alabama",Alabama,"Less than $150,000","Less than $150,000","Less than $150,000","Less than $150,000"
4,"Blount County, Alabama",Alabama,"Less than $150,000","Less than $150,000","Less than $150,000","Less than $150,000"
...,...,...,...,...,...,...
3115,"Teton County, Wyoming",Wyoming,"$750,000-$1,000,000","$750,000-$1,000,000","$750,000-$1,000,000","$750,000-$1,000,000"
3116,"Uinta County, Wyoming",Wyoming,"$150,000-$350,000","$150,000-$350,000","$150,000-$350,000","$150,000-$350,000"
3117,"Washakie County, Wyoming",Wyoming,"$150,000-$350,000","$150,000-$350,000","$150,000-$350,000","$150,000-$350,000"
3118,"Weston County, Wyoming",Wyoming,"$150,000-$350,000","$150,000-$350,000","$150,000-$350,000","$150,000-$350,000"
3119,"Laramie County, Wyoming",Wyoming,"$150,000-$350,000","$150,000-$350,000","$150,000-$350,000","$150,000-$350,000"

In [75]:
#dfExcact will be the exact home price estimate.  Combining quarters into years for ease of reading
df['County & State'] = df['Geography']
df['2016'] = (df['Q1 2016'] + df['Q4 2016'] + df['Q2 2016'])/3
df['2017'] = (df['Q12017'] + df['Q2 2017 Price'])/2
df['2018'] = (df['Q1 2018'] + df['Q2 2018'] + df['Q3 2018'])/3
df['2019'] = (df['Q42019 Price'])
df['2020'] = (df['Q4 2020 Price'])
df['2021'] = (df['Q1 2021'])
dfExact = df[['County & State','2016','2018', '2017', '2019', '2020', '2021']]

dfExact
#dfExact.to_csv("HousingPrice16-21")

,County & State,2016,2018,2017,2019,2020,2021
0,"Autauga County, Alabama",143.743333,145.643333,72006.102900,"$153,716","$161,743","$163,383"
1,"Baldwin County, Alabama",179.290000,190.250000,92565.987900,"$209,494","$234,357","$238,582"
2,"Barbour County, Alabama",179.290000,190.250000,48762.358895,"$100,423","$95,277","$96,994"
3,"Bibb County, Alabama",177.076667,193.460000,58871.177650,"$101,799","$98,445","$99,436"
4,"Blount County, Alabama",177.076667,193.460000,68658.336200,"$131,548","$135,574","$136,938"
...,...,...,...,...,...,...,...
3115,"Teton County, Wyoming",242.020000,253.040000,373958.811000,"$867,907","$900,218","$915,682"
3116,"Uinta County, Wyoming",242.020000,253.040000,95994.646000,"$186,190","$181,789","$184,911"
3117,"Washakie County, Wyoming",242.020000,253.040000,87367.928000,"$170,665","$172,232","$175,190"
3118,"Weston County, Wyoming",242.020000,253.040000,96808.496800,"$178,218","$172,751","$175,719"
3119,"Laramie County, Wyoming",221.603333,245.980000,110940.700900,"$262,044","$284,317","$290,164"

In [101]:
#Need to read all the CPI files for each region
df_NY = pd.read_csv("datasets/CPI Regions/CPINY.csv")
df_SOUTH = pd.read_csv("datasets/CPI Regions/CPISOUTH.csv")
df_ATL = pd.read_csv("datasets/CPI Regions/CPIAtl.csv")
df_VA_MD_WV = pd.read_csv("datasets/CPI Regions/CPIDC-VA-MD-WV.csv")
df_MID = pd.read_csv("datasets/CPI Regions/CPIMidwest.csv")
df_IL_IN_WI = pd.read_csv("datasets/CPI Regions/CPIIL-IN-WI.csv")
df_WEST = pd.read_csv("datasets/CPI Regions/CPIWest.csv")
df_LOS = pd.read_csv("datasets/CPI Regions/CPILA.csv")
df_SF = pd.read_csv("datasets/CPI Regions/CPISanFran.csv")
df_PA_NJ_DE_MD = pd.read_csv("datasets/CPI Regions/CPIPA-NJ-DE-MD.csv")
df_NORTHEAST = pd.read_csv("datasets/CPI Regions/CPINORTHEAST.csv")

In [102]:
#We want to just see the annual ammount, we dont care for each month, lets assign it to the individual regions
df_NY['NY Annual'] = df_NY['Annual']
df_SOUTH['South Annual'] = df_SOUTH['Annual']
df_ATL['ATL Annual'] = df_ATL['Annual']
df_VA_MD_WV['DC MD WV VA Annual'] = df_VA_MD_WV['Annual']
df_MID['Midwest Annual'] = df_MID['Annual']
df_IL_IN_WI['IL IN WI Annual'] = df_IL_IN_WI['Annual']
df_WEST['West Annual'] = df_WEST['Annual']
df_LOS['Los Angeles Annual'] = df_LOS['Annual']
df_SF['San Fran Annual'] = df_SF['Annual']
df_PA_NJ_DE_MD['PA NJ DE MD Annual'] = df_PA_NJ_DE_MD['Annual']
df_NORTHEAST['Northeast Annual'] = df_NORTHEAST['Annual']

South = df_SOUTH['South Annual']
ATL = df_ATL['ATL Annual']
VA_MD_WV = df_VA_MD_WV['DC MD WV VA Annual']
MID = df_MID['Midwest Annual']
IL_IN_WI = df_IL_IN_WI['IL IN WI Annual']
WEST = df_WEST['West Annual']
LOS = df_LOS['Los Angeles Annual']
SF = df_SF['San Fran Annual'] = df_SF['Annual']
PA_NJ_DE_MD = df_PA_NJ_DE_MD['PA NJ DE MD Annual']
Northeast = df_NORTHEAST['Northeast Annual']


df_NY = pd.concat([df_NY, South, ATL, VA_MD_WV, MID, IL_IN_WI, WEST, LOS, SF, PA_NJ_DE_MD, Northeast], axis = 1)

In [103]:
df_NY[['Year', 'NY Annual', 'South Annual', 'ATL Annual', 'DC MD WV VA Annual', 'Midwest Annual', 'IL IN WI Annual', 'West Annual', 'Los Angeles Annual', 'PA NJ DE MD Annual', 'Northeast Annual']]

,Year,NY Annual,South Annual,ATL Annual,DC MD WV VA Annual,Midwest Annual,IL IN WI Annual,West Annual,Los Angeles Annual,PA NJ DE MD Annual,Northeast Annual
0,1987,118.000,112.400,116.500,116.200,111.900,114.500,114.300,116.700,116.800,116.000
1,1988,123.700,116.400,120.400,121.000,116.100,119.000,119.000,122.100,122.400,121.800
2,1989,130.600,121.500,126.100,128.000,121.500,125.000,124.600,128.300,128.300,128.600
3,1990,138.500,127.900,131.700,135.600,127.400,131.700,131.500,135.900,135.800,136.300
4,1991,144.800,132.900,135.900,141.200,132.400,137.000,137.300,141.400,142.200,142.500
5,1992,150.000,136.500,138.500,144.700,136.100,141.100,142.000,146.500,146.600,147.300
6,1993,154.500,140.800,143.400,149.300,140.000,145.400,146.200,150.300,150.200,151.400
7,1994,158.200,144.700,146.700,152.200,144.000,148.600,149.600,152.300,154.600,155.100
8,1995,162.200,149.000,150.900,155.300,148.400,153.300,153.500,154.600,158.700,159.100
9,1996,166.900,153.600,156.000,159.600,153.000,157.400,157.600,157.500,162.800,163.600
10,1997,170.800,156.900,158.900,162.400,156.700,161.700,161.400,160.000,166.500,167.600
11,1998,173.600,158.900,161.200,NaN,159.300,165.000,164.400,162.300,168.200,170.000
12,1999,177.000,162.000,164.800,NaN,162.700,168.400,168.900,166.100,171.900,173.500
13,2000,182.500,167.200,170.600,NaN,168.300,173.800,174.800,171.600,176.500,179.400
14,2001,187.100,171.100,176.200,NaN,172.800,178.300,181.200,177.300,181.300,184.400
15,2002,191.900,173.300,178.200,NaN,174.900,181.200,184.700,182.200,184.900,188.200
16,2003,197.800,177.300,180.800,NaN,178.300,184.500,188.600,187.000,188.800,193.500
17,2004,204.800,181.800,183.200,NaN,182.600,188.600,193.000,193.200,196.500,200.200
18,2005,212.700,188.300,188.900,NaN,188.400,194.300,198.900,201.800,204.200,207.500
19,2006,220.700,194.700,193.800,NaN,193.000,198.300,205.700,210.400,212.100,215.000
20,2007,226.940,200.361,200.011,NaN,198.123,204.818,212.230,217.338,216.743,220.512
21,2008,235.782,208.681,206.454,NaN,205.382,212.536,219.646,225.008,224.131,229.306
22,2009,236.825,207.845,200.996,NaN,204.064,209.995,218.822,223.219,223.288,229.343
23,2010,240.864,211.338,203.468,NaN,208.046,212.870,221.203,225.894,227.715,233.868
24,2011,247.718,218.618,209.102,NaN,214.743,218.684,227.485,231.928,233.809,240.997
25,2012,252.588,223.242,212.782,NaN,219.100,222.005,232.376,236.648,238.097,245.698
26,2013,256.833,226.721,216.267,NaN,222.170,224.545,235.824,239.207,240.900,249.038
27,2014,260.230,230.552,220.969,NaN,225.425,228.468,240.215,242.434,244.050,252.463
28,2015,260.558,230.147,221.631,250.664,224.210,227.792,243.015,244.632,243.858,252.185
29,2016,263.365,232.692,225.463,253.422,226.115,229.302,247.705,249.246,245.290,254.850
30,2017,268.520,237.456,232.887,256.221,229.874,233.611,254.738,256.210,248.423,259.538
31,2018,273.641,242.737,238.577,261.445,234.290,237.706,263.263,265.962,251.563,265.139
32,2019,278.164,246.265,243.731,264.777,237.776,241.181,270.350,274.114,256.621,269.392
33,2020,282.920,248.639,246.653,267.157,240.040,243.873,275.057,278.567,258.923,272.908
34,2021,292.303,261.259,261.633,277.728,252.242,254.159,287.494,289.244,269.371,283.557