# COGS 108 - EDA Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Setup

In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm # progress bar for .apply()

# Data Cleaning

Describe your data cleaning steps here.

In [2]:
disaster2015 = pd.read_csv('datasets/nat_disast_bystate_deaths_cost/disaster_2015.csv')
disaster2015

,"2015 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),7,8,25,0,25
4,AL (Alabama),13,17,14.79,0,14.79
...,...,...,...,...,...,...
67,WI (Wisconsin),4,8,8.73,0.01,8.74
68,WV (West Virginia),4,2,20.73,0,20.73
69,WY (Wyoming),2,5,10.35,0.25,10.6
70,Total,522,2143,4202.01,645.11,4847.12
71,Report generated: 5/13/2016 3:42:33 PM,NaN,NaN,NaN,NaN,6 / 6

In [3]:
# rename columns
disaster2015.columns = ['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
                       'total_damage']
disaster2015.columns

Index(['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
       'total_damage'],
      dtype='object')

In [4]:
disaster2015

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),7,8,25,0,25
4,AL (Alabama),13,17,14.79,0,14.79
...,...,...,...,...,...,...
67,WI (Wisconsin),4,8,8.73,0.01,8.74
68,WV (West Virginia),4,2,20.73,0,20.73
69,WY (Wyoming),2,5,10.35,0.25,10.6
70,Total,522,2143,4202.01,645.11,4847.12
71,Report generated: 5/13/2016 3:42:33 PM,NaN,NaN,NaN,NaN,6 / 6

In [5]:
# delete first three rows and last two rows of original dataframe
disaster2015 = disaster2015.drop(labels= [0, 1, 2, 70, 71])

In [6]:
disaster2015 = disaster2015.reset_index(drop= True)
disaster2015

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),7,8,25,0,25
1,AL (Alabama),13,17,14.79,0,14.79
2,AM (Atlantic South),3,0,0,0,0
3,AN (Atlantic North),4,5,0,0,0
4,AR (Arkansas),10,337,18.25,27.26,45.51
...,...,...,...,...,...,...
62,VT (Vermont),0,0,3.55,0,3.55
63,WA (Washington),8,7,28.94,0.02,28.96
64,WI (Wisconsin),4,8,8.73,0.01,8.74
65,WV (West Virginia),4,2,20.73,0,20.73
66,WY (Wyoming),2,5,10.35,0.25,10.6

In [7]:
# check for missing values
disaster2015.isna().sum()

state              0
fatalities         1
injuries           1
property_damage    1
crop_damage        1
total_damage       0
dtype: int64

In [8]:
# find rows that have missing values
disaster2015[disaster2015.isnull().any(axis=1)]

,state,fatalities,injuries,property_damage,crop_damage,total_damage
39,Report generated: 5/13/2016 3:42:33 PM,NaN,NaN,NaN,NaN,5 / 6

In [9]:
disaster2015 = disaster2015.drop(39)
disaster2015

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),7,8,25,0,25
1,AL (Alabama),13,17,14.79,0,14.79
2,AM (Atlantic South),3,0,0,0,0
3,AN (Atlantic North),4,5,0,0,0
4,AR (Arkansas),10,337,18.25,27.26,45.51
...,...,...,...,...,...,...
62,VT (Vermont),0,0,3.55,0,3.55
63,WA (Washington),8,7,28.94,0.02,28.96
64,WI (Wisconsin),4,8,8.73,0.01,8.74
65,WV (West Virginia),4,2,20.73,0,20.73
66,WY (Wyoming),2,5,10.35,0.25,10.6

In [10]:
disaster2015.isna().sum()

state              0
fatalities         0
injuries           0
property_damage    0
crop_damage        0
total_damage       0
dtype: int64

In [11]:
disaster2015.dtypes

state              object
fatalities         object
injuries           object
property_damage    object
crop_damage        object
total_damage       object
dtype: object

In [12]:
disaster2015.loc[0]

state              AK (Alaska)
fatalities                   7
injuries                     8
property_damage             25
crop_damage                  0
total_damage                25
Name: 0, dtype: object

In [13]:
type(disaster2015.loc[0][1])

str

In [14]:
# convert columns to correct data types
disaster2015[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']] = disaster2015[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']].apply(pd.to_numeric)

In [15]:
disaster2015.dtypes

state               object
fatalities           int64
injuries             int64
property_damage    float64
crop_damage        float64
total_damage       float64
dtype: object

In [16]:
disaster2015

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),7,8,25.00,0.00,25.00
1,AL (Alabama),13,17,14.79,0.00,14.79
2,AM (Atlantic South),3,0,0.00,0.00,0.00
3,AN (Atlantic North),4,5,0.00,0.00,0.00
4,AR (Arkansas),10,337,18.25,27.26,45.51
...,...,...,...,...,...,...
62,VT (Vermont),0,0,3.55,0.00,3.55
63,WA (Washington),8,7,28.94,0.02,28.96
64,WI (Wisconsin),4,8,8.73,0.01,8.74
65,WV (West Virginia),4,2,20.73,0.00,20.73
66,WY (Wyoming),2,5,10.35,0.25,10.60

In [17]:
disaster2015['state'].unique()

array(['AK (Alaska)', 'AL (Alabama)', 'AM (Atlantic South)',
       'AN (Atlantic North)', 'AR (Arkansas)', 'AS (American Samoa)',
       'AZ (Arizona)', 'CA (California)', 'CO (Colorado)',
       'CT (Connecticut)', 'DC (District of Columbia)', 'DE (Delaware)',
       'FL (Florida)', 'GA (Georgia)', 'GM (Gulf of Mexico)', 'GU (Guam)',
       'HI (Hawaii)', 'IA (Iowa)', 'ID (Idaho)', 'IL (Illinois)',
       'IN (Indiana)', 'KS (Kansas)', 'KY (Kentucky)', 'LA (Louisiana)',
       'LC (Lake St.Clair)', 'LE (Lake Erie)', 'LH (Lake Huron)',
       'LM (Lake Michigan)', 'LO (Lake Ontario)', 'LS (Lake Superior)',
       'MA (Massachusetts)', 'MD (Maryland)', 'ME (Maine)',
       'MI (Michigan)', 'MN (Minnesota)', 'MO (Missouri)',
       'MS (Mississippi)', 'MT (Montana)', 'NC (North Carolina)',
       'ND (North Dakota)', 'NE (Nebraska)', 'NH (New Hampshire)',
       'NJ (New Jersey)', 'NM (New Mexico)', 'NV (Nevada)',
       'NY (New York)', 'OH (Ohio)', 'OK (Oklahoma)', 'OR (Oregon)',
       'PA (Pennsylvania)', 'PH (Hawaii Waters)', 'PR (Puerto Rico)',
       'PZ (East Pacific)', 'RI (Rhode Island)', 'SC (South Carolina)',
       'SD (South Dakota)', 'TN (Tennessee)', 'TX (Texas)', 'UT (Utah)',
       'VA (Virginia)', 'VI (Virgin Islands)', 'VT (Vermont)',
       'WA (Washington)', 'WI (Wisconsin)', 'WV (West Virginia)',
       'WY (Wyoming)'], dtype=object)

In [18]:
# non_states = ['AM (Atlantic South)','AN (Atlantic North)', 'AS (American Samoa)',
#              'DC (District of Columbia)', 'GM (Gulf of Mexico)']

In [19]:
# disaster2015[disaster2015['state'] != 'AM (Atlantic South)' | 
#              disaster2015['state'] != 'AN (Atlantic North)' |
#             disaster2015['state'] != 'AS (American Samoa)']

In [20]:
disaster2020 = pd.read_csv('datasets/nat_disast_bystate_deaths_cost/disaster_2020.csv')
disaster2020

,"2020 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),5,0,35.85,0,35.85
4,AL (Alabama),11,27,313.39,2.08,315.47
...,...,...,...,...,...,...
66,WA (Washington),5,11,1340.16,0.52,1340.68
67,WI (Wisconsin),11,1,79.28,0.26,79.54
68,WV (West Virginia),1,3,5.62,0,5.62
69,WY (Wyoming),0,0,0.03,0,0.03
70,Total,457,1425,26801.89,509.24,27311.13

In [21]:
# rename columns
disaster2020.columns = ['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
                       'total_damage']
disaster2020.columns

Index(['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
       'total_damage'],
      dtype='object')

In [22]:
disaster2020

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),5,0,35.85,0,35.85
4,AL (Alabama),11,27,313.39,2.08,315.47
...,...,...,...,...,...,...
66,WA (Washington),5,11,1340.16,0.52,1340.68
67,WI (Wisconsin),11,1,79.28,0.26,79.54
68,WV (West Virginia),1,3,5.62,0,5.62
69,WY (Wyoming),0,0,0.03,0,0.03
70,Total,457,1425,26801.89,509.24,27311.13

In [23]:
# delete first three rows and last row of original dataframe
disaster2020 = disaster2020.drop(labels= [0, 1, 2, 70])

In [24]:
disaster2020

,state,fatalities,injuries,property_damage,crop_damage,total_damage
3,AK (Alaska),5,0,35.85,0,35.85
4,AL (Alabama),11,27,313.39,2.08,315.47
5,AM (Atlantic South),0,0,0,0,0
6,AN (Atlantic North),0,0,0.01,0,0.01
7,AR (Arkansas),2,32,313.81,1.41,315.21
...,...,...,...,...,...,...
65,VT (Vermont),0,0,1.91,0.01,1.92
66,WA (Washington),5,11,1340.16,0.52,1340.68
67,WI (Wisconsin),11,1,79.28,0.26,79.54
68,WV (West Virginia),1,3,5.62,0,5.62
69,WY (Wyoming),0,0,0.03,0,0.03

In [25]:
disaster2020 = disaster2020.reset_index(drop= True)
disaster2020

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),5,0,35.85,0,35.85
1,AL (Alabama),11,27,313.39,2.08,315.47
2,AM (Atlantic South),0,0,0,0,0
3,AN (Atlantic North),0,0,0.01,0,0.01
4,AR (Arkansas),2,32,313.81,1.41,315.21
...,...,...,...,...,...,...
62,VT (Vermont),0,0,1.91,0.01,1.92
63,WA (Washington),5,11,1340.16,0.52,1340.68
64,WI (Wisconsin),11,1,79.28,0.26,79.54
65,WV (West Virginia),1,3,5.62,0,5.62
66,WY (Wyoming),0,0,0.03,0,0.03

In [26]:
# check for missing values
disaster2020.isna().sum()

state              0
fatalities         0
injuries           0
property_damage    0
crop_damage        0
total_damage       0
dtype: int64

In [27]:
disaster2020.dtypes

state              object
fatalities         object
injuries           object
property_damage    object
crop_damage        object
total_damage       object
dtype: object

In [28]:
# convert columns to correct data types
disaster2020[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']] = disaster2020[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']].apply(pd.to_numeric)

In [29]:
disaster2020.dtypes

state               object
fatalities           int64
injuries             int64
property_damage    float64
crop_damage        float64
total_damage       float64
dtype: object

In [30]:
disaster2020

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),5,0,35.85,0.00,35.85
1,AL (Alabama),11,27,313.39,2.08,315.47
2,AM (Atlantic South),0,0,0.00,0.00,0.00
3,AN (Atlantic North),0,0,0.01,0.00,0.01
4,AR (Arkansas),2,32,313.81,1.41,315.21
...,...,...,...,...,...,...
62,VT (Vermont),0,0,1.91,0.01,1.92
63,WA (Washington),5,11,1340.16,0.52,1340.68
64,WI (Wisconsin),11,1,79.28,0.26,79.54
65,WV (West Virginia),1,3,5.62,0.00,5.62
66,WY (Wyoming),0,0,0.03,0.00,0.03

In [31]:
disaster2016 = pd.read_csv('datasets/nat_disast_bystate_deaths_cost/state16.csv')
disaster2016

,"2016 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),4,2,0.2,0,0.2
4,AL (Alabama),7,32,4.31,0,4.31
...,...,...,...,...,...,...
68,WI (Wisconsin),20,33,37.28,0.67,37.95
69,WV (West Virginia),24,12,172.54,0,172.54
70,WY (Wyoming),6,4,3.1,0,3.1
71,Total,458,1276,18194.7,243.29,18438
72,Report generated: 5/11/2017 10:46:03 AM,NaN,NaN,NaN,NaN,6 / 6

In [32]:
disaster2016.columns

Index(['2016 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'],
      dtype='object')

In [33]:
# rename columns
disaster2016.columns = ['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
                       'total_damage']
disaster2016.columns

Index(['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
       'total_damage'],
      dtype='object')

In [34]:
disaster2016

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),4,2,0.2,0,0.2
4,AL (Alabama),7,32,4.31,0,4.31
...,...,...,...,...,...,...
68,WI (Wisconsin),20,33,37.28,0.67,37.95
69,WV (West Virginia),24,12,172.54,0,172.54
70,WY (Wyoming),6,4,3.1,0,3.1
71,Total,458,1276,18194.7,243.29,18438
72,Report generated: 5/11/2017 10:46:03 AM,NaN,NaN,NaN,NaN,6 / 6

In [35]:
# delete first three rows and last two rows of original dataframe
disaster2016 = disaster2016.drop(labels= [0, 1, 2, 71, 72])
disaster2016

,state,fatalities,injuries,property_damage,crop_damage,total_damage
3,AK (Alaska),4,2,0.2,0,0.2
4,AL (Alabama),7,32,4.31,0,4.31
5,AM (Atlantic South),4,2,0,0,0
6,AN (Atlantic North),0,0,0,0,0
7,AR (Arkansas),2,8,13.38,0.2,13.58
...,...,...,...,...,...,...
66,VT (Vermont),1,0,3.94,0,3.94
67,WA (Washington),5,6,8.43,0,8.43
68,WI (Wisconsin),20,33,37.28,0.67,37.95
69,WV (West Virginia),24,12,172.54,0,172.54
70,WY (Wyoming),6,4,3.1,0,3.1

In [36]:
disaster2016 = disaster2016.reset_index(drop= True)
disaster2016

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),4,2,0.2,0,0.2
1,AL (Alabama),7,32,4.31,0,4.31
2,AM (Atlantic South),4,2,0,0,0
3,AN (Atlantic North),0,0,0,0,0
4,AR (Arkansas),2,8,13.38,0.2,13.58
...,...,...,...,...,...,...
63,VT (Vermont),1,0,3.94,0,3.94
64,WA (Washington),5,6,8.43,0,8.43
65,WI (Wisconsin),20,33,37.28,0.67,37.95
66,WV (West Virginia),24,12,172.54,0,172.54
67,WY (Wyoming),6,4,3.1,0,3.1

In [37]:
# check for missing values
disaster2016.isna().sum()

state              0
fatalities         1
injuries           1
property_damage    1
crop_damage        1
total_damage       0
dtype: int64

In [38]:
# find rows that have missing values
disaster2016[disaster2016.isnull().any(axis=1)]

,state,fatalities,injuries,property_damage,crop_damage,total_damage
39,Report generated: 5/11/2017 10:46:03 AM,NaN,NaN,NaN,NaN,5 / 6

In [39]:
disaster2016 = disaster2016.drop(39)
disaster2016

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),4,2,0.2,0,0.2
1,AL (Alabama),7,32,4.31,0,4.31
2,AM (Atlantic South),4,2,0,0,0
3,AN (Atlantic North),0,0,0,0,0
4,AR (Arkansas),2,8,13.38,0.2,13.58
...,...,...,...,...,...,...
63,VT (Vermont),1,0,3.94,0,3.94
64,WA (Washington),5,6,8.43,0,8.43
65,WI (Wisconsin),20,33,37.28,0.67,37.95
66,WV (West Virginia),24,12,172.54,0,172.54
67,WY (Wyoming),6,4,3.1,0,3.1

In [40]:
disaster2016.isna().sum()

state              0
fatalities         0
injuries           0
property_damage    0
crop_damage        0
total_damage       0
dtype: int64

In [41]:
disaster2016.dtypes

state              object
fatalities         object
injuries           object
property_damage    object
crop_damage        object
total_damage       object
dtype: object

In [42]:
# convert columns to correct data types
disaster2016[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']] = disaster2016[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']].apply(pd.to_numeric)
disaster2016.dtypes

state               object
fatalities           int64
injuries             int64
property_damage    float64
crop_damage        float64
total_damage       float64
dtype: object

In [43]:
disaster2016

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),4,2,0.20,0.00,0.20
1,AL (Alabama),7,32,4.31,0.00,4.31
2,AM (Atlantic South),4,2,0.00,0.00,0.00
3,AN (Atlantic North),0,0,0.00,0.00,0.00
4,AR (Arkansas),2,8,13.38,0.20,13.58
...,...,...,...,...,...,...
63,VT (Vermont),1,0,3.94,0.00,3.94
64,WA (Washington),5,6,8.43,0.00,8.43
65,WI (Wisconsin),20,33,37.28,0.67,37.95
66,WV (West Virginia),24,12,172.54,0.00,172.54
67,WY (Wyoming),6,4,3.10,0.00,3.10

In [44]:
len(disaster2016['state'].unique())

67

In [45]:
disaster2016['state'].unique()

array(['AK (Alaska)', 'AL (Alabama)', 'AM (Atlantic South)',
       'AN (Atlantic North)', 'AR (Arkansas)', 'AS (American Samoa)',
       'AZ (Arizona)', 'CA (California)', 'CO (Colorado)',
       'CT (Connecticut)', 'DC (District of Columbia)', 'DE (Delaware)',
       'FL (Florida)', 'GA (Georgia)', 'GM (Gulf of Mexico)', 'GU (Guam)',
       'HI (Hawaii)', 'IA (Iowa)', 'ID (Idaho)', 'IL (Illinois)',
       'IN (Indiana)', 'KS (Kansas)', 'KY (Kentucky)', 'LA (Louisiana)',
       'LC (Lake St.Clair)', 'LE (Lake Erie)', 'LH (Lake Huron)',
       'LM (Lake Michigan)', 'LO (Lake Ontario)', 'LS (Lake Superior)',
       'MA (Massachusetts)', 'MD (Maryland)', 'ME (Maine)',
       'MI (Michigan)', 'MN (Minnesota)', 'MO (Missouri)',
       'MS (Mississippi)', 'MT (Montana)', 'NC (North Carolina)',
       'ND (North Dakota)', 'NE (Nebraska)', 'NH (New Hampshire)',
       'NJ (New Jersey)', 'NM (New Mexico)', 'NV (Nevada)',
       'NY (New York)', 'OH (Ohio)', 'OK (Oklahoma)', 'OR (Oregon)',
       'PA (Pennsylvania)', 'PH (Hawaii Waters)', 'PR (Puerto Rico)',
       'PZ (East Pacific)', 'RI (Rhode Island)', 'SC (South Carolina)',
       'SD (South Dakota)', 'SL (St.Lawrence River)', 'TN (Tennessee)',
       'TX (Texas)', 'UT (Utah)', 'VA (Virginia)', 'VI (Virgin Islands)',
       'VT (Vermont)', 'WA (Washington)', 'WI (Wisconsin)',
       'WV (West Virginia)', 'WY (Wyoming)'], dtype=object)

In [46]:
disaster2017 = pd.read_csv('datasets/nat_disast_bystate_deaths_cost/state17.csv')
disaster2017

,"2017 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),2,0,6.53,0,6.53
4,AL (Alabama),14,35,31.59,0,31.59
...,...,...,...,...,...,...
68,WI (Wisconsin),10,29,82.84,41.43,124.27
69,WV (West Virginia),2,2,6.88,0,6.88
70,WY (Wyoming),1,1,3,0,3
71,Total,508,1205,87377.5,1913.21,89290.72
72,Report generated: 4/25/2018 3:36:29 PM,NaN,NaN,NaN,NaN,6 / 6

In [47]:
# rename columns
disaster2017.columns = ['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
                       'total_damage']
disaster2017.columns

Index(['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
       'total_damage'],
      dtype='object')

In [48]:
disaster2017

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),2,0,6.53,0,6.53
4,AL (Alabama),14,35,31.59,0,31.59
...,...,...,...,...,...,...
68,WI (Wisconsin),10,29,82.84,41.43,124.27
69,WV (West Virginia),2,2,6.88,0,6.88
70,WY (Wyoming),1,1,3,0,3
71,Total,508,1205,87377.5,1913.21,89290.72
72,Report generated: 4/25/2018 3:36:29 PM,NaN,NaN,NaN,NaN,6 / 6

In [49]:
# delete first three rows and last two rows of original dataframe
disaster2017 = disaster2017.drop(labels= [0, 1, 2, 71, 72])
disaster2017

,state,fatalities,injuries,property_damage,crop_damage,total_damage
3,AK (Alaska),2,0,6.53,0,6.53
4,AL (Alabama),14,35,31.59,0,31.59
5,AM (Atlantic South),3,0,0,0,0
6,AN (Atlantic North),1,0,0.01,0,0.01
7,AR (Arkansas),9,17,37.58,23.51,61.09
...,...,...,...,...,...,...
66,VT (Vermont),0,1,14.53,0.11,14.64
67,WA (Washington),1,7,82.47,0,82.47
68,WI (Wisconsin),10,29,82.84,41.43,124.27
69,WV (West Virginia),2,2,6.88,0,6.88
70,WY (Wyoming),1,1,3,0,3

In [50]:
disaster2017 = disaster2017.reset_index(drop= True)
disaster2017

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),2,0,6.53,0,6.53
1,AL (Alabama),14,35,31.59,0,31.59
2,AM (Atlantic South),3,0,0,0,0
3,AN (Atlantic North),1,0,0.01,0,0.01
4,AR (Arkansas),9,17,37.58,23.51,61.09
...,...,...,...,...,...,...
63,VT (Vermont),0,1,14.53,0.11,14.64
64,WA (Washington),1,7,82.47,0,82.47
65,WI (Wisconsin),10,29,82.84,41.43,124.27
66,WV (West Virginia),2,2,6.88,0,6.88
67,WY (Wyoming),1,1,3,0,3

In [51]:
# check for missing values
disaster2017.isna().sum()

state              0
fatalities         1
injuries           1
property_damage    1
crop_damage        1
total_damage       0
dtype: int64

In [52]:
# find rows that have missing values
disaster2017[disaster2017.isnull().any(axis=1)]

,state,fatalities,injuries,property_damage,crop_damage,total_damage
39,Report generated: 4/25/2018 3:36:29 PM,NaN,NaN,NaN,NaN,5 / 6

In [53]:
disaster2017 = disaster2017.drop(39)
disaster2017

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),2,0,6.53,0,6.53
1,AL (Alabama),14,35,31.59,0,31.59
2,AM (Atlantic South),3,0,0,0,0
3,AN (Atlantic North),1,0,0.01,0,0.01
4,AR (Arkansas),9,17,37.58,23.51,61.09
...,...,...,...,...,...,...
63,VT (Vermont),0,1,14.53,0.11,14.64
64,WA (Washington),1,7,82.47,0,82.47
65,WI (Wisconsin),10,29,82.84,41.43,124.27
66,WV (West Virginia),2,2,6.88,0,6.88
67,WY (Wyoming),1,1,3,0,3

In [54]:
disaster2017.isna().sum()

state              0
fatalities         0
injuries           0
property_damage    0
crop_damage        0
total_damage       0
dtype: int64

In [55]:
disaster2017.dtypes

state              object
fatalities         object
injuries           object
property_damage    object
crop_damage        object
total_damage       object
dtype: object

In [56]:
# convert columns to correct data types
disaster2017[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']] = disaster2017[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']].apply(pd.to_numeric)
disaster2017.dtypes

state               object
fatalities           int64
injuries             int64
property_damage    float64
crop_damage        float64
total_damage       float64
dtype: object

In [57]:
disaster2017

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),2,0,6.53,0.00,6.53
1,AL (Alabama),14,35,31.59,0.00,31.59
2,AM (Atlantic South),3,0,0.00,0.00,0.00
3,AN (Atlantic North),1,0,0.01,0.00,0.01
4,AR (Arkansas),9,17,37.58,23.51,61.09
...,...,...,...,...,...,...
63,VT (Vermont),0,1,14.53,0.11,14.64
64,WA (Washington),1,7,82.47,0.00,82.47
65,WI (Wisconsin),10,29,82.84,41.43,124.27
66,WV (West Virginia),2,2,6.88,0.00,6.88
67,WY (Wyoming),1,1,3.00,0.00,3.00

In [60]:
disaster2018 = pd.read_csv('datasets/nat_disast_bystate_deaths_cost/state18.csv')
disaster2018

,"2018 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),0,0,3.89,0,3.89
4,AL (Alabama),6,35,8.34,0,8.34
...,...,...,...,...,...,...
68,WI (Wisconsin),12,11,181.95,4.22,186.17
69,WV (West Virginia),3,0,6.73,0,6.74
70,WY (Wyoming),2,5,10.2,0,10.2
71,Total,530,1378,35849.32,5102.54,40951.86
72,Report generated: 4/29/2019 11:31:38 AM,NaN,NaN,NaN,NaN,6 / 6

In [61]:
# rename columns
disaster2018.columns = ['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
                       'total_damage']
disaster2018.columns

Index(['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
       'total_damage'],
      dtype='object')

In [62]:
disaster2018

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),0,0,3.89,0,3.89
4,AL (Alabama),6,35,8.34,0,8.34
...,...,...,...,...,...,...
68,WI (Wisconsin),12,11,181.95,4.22,186.17
69,WV (West Virginia),3,0,6.73,0,6.74
70,WY (Wyoming),2,5,10.2,0,10.2
71,Total,530,1378,35849.32,5102.54,40951.86
72,Report generated: 4/29/2019 11:31:38 AM,NaN,NaN,NaN,NaN,6 / 6

In [63]:
# delete first three rows and last two rows of original dataframe
disaster2018 = disaster2018.drop(labels= [0, 1, 2, 71, 72])
disaster2018

,state,fatalities,injuries,property_damage,crop_damage,total_damage
3,AK (Alaska),0,0,3.89,0,3.89
4,AL (Alabama),6,35,8.34,0,8.34
5,AM (Atlantic South),0,0,0,0,0
6,AN (Atlantic North),2,2,0,0,0
7,AR (Arkansas),3,12,19.82,0.04,19.86
...,...,...,...,...,...,...
66,VT (Vermont),1,0,5.05,0,5.05
67,WA (Washington),2,0,141.83,0,141.83
68,WI (Wisconsin),12,11,181.95,4.22,186.17
69,WV (West Virginia),3,0,6.73,0,6.74
70,WY (Wyoming),2,5,10.2,0,10.2

In [64]:
disaster2018 = disaster2018.reset_index(drop= True)
disaster2018

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),0,0,3.89,0,3.89
1,AL (Alabama),6,35,8.34,0,8.34
2,AM (Atlantic South),0,0,0,0,0
3,AN (Atlantic North),2,2,0,0,0
4,AR (Arkansas),3,12,19.82,0.04,19.86
...,...,...,...,...,...,...
63,VT (Vermont),1,0,5.05,0,5.05
64,WA (Washington),2,0,141.83,0,141.83
65,WI (Wisconsin),12,11,181.95,4.22,186.17
66,WV (West Virginia),3,0,6.73,0,6.74
67,WY (Wyoming),2,5,10.2,0,10.2

In [65]:
# find rows that have missing values
disaster2018[disaster2018.isnull().any(axis=1)]

,state,fatalities,injuries,property_damage,crop_damage,total_damage
39,Report generated: 4/29/2019 11:31:38 AM,NaN,NaN,NaN,NaN,5 / 6

In [66]:
disaster2018 = disaster2018.drop(39)
disaster2018

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),0,0,3.89,0,3.89
1,AL (Alabama),6,35,8.34,0,8.34
2,AM (Atlantic South),0,0,0,0,0
3,AN (Atlantic North),2,2,0,0,0
4,AR (Arkansas),3,12,19.82,0.04,19.86
...,...,...,...,...,...,...
63,VT (Vermont),1,0,5.05,0,5.05
64,WA (Washington),2,0,141.83,0,141.83
65,WI (Wisconsin),12,11,181.95,4.22,186.17
66,WV (West Virginia),3,0,6.73,0,6.74
67,WY (Wyoming),2,5,10.2,0,10.2

In [67]:
disaster2018.isna().sum()

state              0
fatalities         0
injuries           0
property_damage    0
crop_damage        0
total_damage       0
dtype: int64

In [68]:
disaster2018.dtypes

state              object
fatalities         object
injuries           object
property_damage    object
crop_damage        object
total_damage       object
dtype: object

In [69]:
# convert columns to correct data types
disaster2018[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']] = disaster2018[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']].apply(pd.to_numeric)
disaster2018.dtypes

state               object
fatalities           int64
injuries             int64
property_damage    float64
crop_damage        float64
total_damage       float64
dtype: object

In [70]:
disaster2018

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),0,0,3.89,0.00,3.89
1,AL (Alabama),6,35,8.34,0.00,8.34
2,AM (Atlantic South),0,0,0.00,0.00,0.00
3,AN (Atlantic North),2,2,0.00,0.00,0.00
4,AR (Arkansas),3,12,19.82,0.04,19.86
...,...,...,...,...,...,...
63,VT (Vermont),1,0,5.05,0.00,5.05
64,WA (Washington),2,0,141.83,0.00,141.83
65,WI (Wisconsin),12,11,181.95,4.22,186.17
66,WV (West Virginia),3,0,6.73,0.00,6.74
67,WY (Wyoming),2,5,10.20,0.00,10.20

In [71]:
disaster2019 = pd.read_csv('datasets/nat_disast_bystate_deaths_cost/state19.csv')
disaster2019

,"2019 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),0,0,8.55,0,8.55
4,AL (Alabama),31,109,0.98,0,0.98
...,...,...,...,...,...,...
66,WI (Wisconsin),10,56,20.71,0.99,21.7
67,WV (West Virginia),2,3,8.28,3,11.28
68,WY (Wyoming),3,1,1.33,0,1.33
69,Total,534,1239,6251.83,1405.19,7657.01
70,Report generated: 9/21/2021 8:26:24 AM,NaN,NaN,NaN,NaN,6 / 6

In [72]:
# rename columns
disaster2019.columns = ['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
                       'total_damage']
disaster2019.columns

Index(['state', 'fatalities', 'injuries', 'property_damage', 'crop_damage',
       'total_damage'],
      dtype='object')

In [73]:
disaster2019

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,State,Fatalities,Injuries,Property,Crop,Total
1,NaN,NaN,NaN,Damage,Damage,Damage
2,NaN,NaN,NaN,(million $),(million $),(million $)
3,AK (Alaska),0,0,8.55,0,8.55
4,AL (Alabama),31,109,0.98,0,0.98
...,...,...,...,...,...,...
66,WI (Wisconsin),10,56,20.71,0.99,21.7
67,WV (West Virginia),2,3,8.28,3,11.28
68,WY (Wyoming),3,1,1.33,0,1.33
69,Total,534,1239,6251.83,1405.19,7657.01
70,Report generated: 9/21/2021 8:26:24 AM,NaN,NaN,NaN,NaN,6 / 6

In [74]:
# delete first three rows and last two rows of original dataframe
disaster2019 = disaster2019.drop(labels= [0, 1, 2, 69, 70])
disaster2019

,state,fatalities,injuries,property_damage,crop_damage,total_damage
3,AK (Alaska),0,0,8.55,0,8.55
4,AL (Alabama),31,109,0.98,0,0.98
5,AM (Atlantic South),2,0,0,0,0
6,AN (Atlantic North),1,0,0.11,0,0.11
7,AR (Arkansas),6,22,24.94,4.18,29.12
...,...,...,...,...,...,...
64,VT (Vermont),2,0,9.24,0,9.24
65,WA (Washington),1,17,4.96,0,4.96
66,WI (Wisconsin),10,56,20.71,0.99,21.7
67,WV (West Virginia),2,3,8.28,3,11.28
68,WY (Wyoming),3,1,1.33,0,1.33

In [75]:
disaster2019 = disaster2019.reset_index(drop= True)
disaster2019

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),0,0,8.55,0,8.55
1,AL (Alabama),31,109,0.98,0,0.98
2,AM (Atlantic South),2,0,0,0,0
3,AN (Atlantic North),1,0,0.11,0,0.11
4,AR (Arkansas),6,22,24.94,4.18,29.12
...,...,...,...,...,...,...
61,VT (Vermont),2,0,9.24,0,9.24
62,WA (Washington),1,17,4.96,0,4.96
63,WI (Wisconsin),10,56,20.71,0.99,21.7
64,WV (West Virginia),2,3,8.28,3,11.28
65,WY (Wyoming),3,1,1.33,0,1.33

In [76]:
# find rows that have missing values
disaster2019[disaster2019.isnull().any(axis=1)]

,state,fatalities,injuries,property_damage,crop_damage,total_damage
39,Report generated: 9/21/2021 8:26:24 AM,NaN,NaN,NaN,NaN,5 / 6

In [77]:
disaster2019 = disaster2019.drop(39)
disaster2019

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),0,0,8.55,0,8.55
1,AL (Alabama),31,109,0.98,0,0.98
2,AM (Atlantic South),2,0,0,0,0
3,AN (Atlantic North),1,0,0.11,0,0.11
4,AR (Arkansas),6,22,24.94,4.18,29.12
...,...,...,...,...,...,...
61,VT (Vermont),2,0,9.24,0,9.24
62,WA (Washington),1,17,4.96,0,4.96
63,WI (Wisconsin),10,56,20.71,0.99,21.7
64,WV (West Virginia),2,3,8.28,3,11.28
65,WY (Wyoming),3,1,1.33,0,1.33

In [78]:
disaster2019.isna().sum()

state              0
fatalities         0
injuries           0
property_damage    0
crop_damage        0
total_damage       0
dtype: int64

In [79]:
disaster2019.dtypes

state              object
fatalities         object
injuries           object
property_damage    object
crop_damage        object
total_damage       object
dtype: object

In [80]:
# convert columns to correct data types
disaster2019[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']] = disaster2019[['fatalities','injuries', 'property_damage','crop_damage', 'total_damage']].apply(pd.to_numeric)
disaster2019.dtypes

state               object
fatalities           int64
injuries             int64
property_damage    float64
crop_damage        float64
total_damage       float64
dtype: object

In [81]:
disaster2019

,state,fatalities,injuries,property_damage,crop_damage,total_damage
0,AK (Alaska),0,0,8.55,0.00,8.55
1,AL (Alabama),31,109,0.98,0.00,0.98
2,AM (Atlantic South),2,0,0.00,0.00,0.00
3,AN (Atlantic North),1,0,0.11,0.00,0.11
4,AR (Arkansas),6,22,24.94,4.18,29.12
...,...,...,...,...,...,...
61,VT (Vermont),2,0,9.24,0.00,9.24
62,WA (Washington),1,17,4.96,0.00,4.96
63,WI (Wisconsin),10,56,20.71,0.99,21.70
64,WV (West Virginia),2,3,8.28,3.00,11.28
65,WY (Wyoming),3,1,1.33,0.00,1.33

# Data Analysis & Results (EDA)

Carry out EDA on your dataset(s); Describe in this section

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION