# COGS 108 - Final Project (change this to your project's title)

## Permissions

Place an `X` in the appropriate bracket below to specify if you would like your group's project to be made available to the public. (Note that student names will be included (but PIDs will be scraped from any groups who include their PIDs).

* [  ] YES - make available
* [  ] NO - keep private

# Overview

*Fill in your overview here*

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

<a id='background'></a>

## Background & Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: 
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.style as style
import os
from pathlib import Path

# converting city to county
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm # progress bar for .apply()

# for choropleth
import plotly.express as px

# used for choropleth
from urllib.request import urlopen
import json

# filter extra noise from warnings
import warnings
warnings.filterwarnings('ignore')

# Statmodels & patsy
import patsy
import statsmodels.api as sm
from scipy.stats import pearsonr
from scipy.stats import boxcox

# Make plots just slightly bigger for displaying well in notebook
plt.rcParams['figure.figsize'] = (10, 5)

# Displaying figures as image
from IPython.display import Image

# used to convert state/county to fips
import addfips

%config InlineBackend.figure_format ='retina'

# Data Cleaning

Describe your data cleaning steps here.

In [3]:
hp_df = pd.read_csv('NewHousingPrices2017-2021.csv').drop(columns=['Unnamed: 0'])
hp_df[['county', 'state']] = hp_df['County & State'].str.split('County,', expand=True)
old_cols = hp_df.columns.values
hp_df['Average_HP'] = hp_df.iloc[:,3:].mean(axis=1)
new_cols = ['county','state','FIPS','Average_HP']
hp_df = hp_df.reindex(columns=new_cols)
hp_df

         county      state   FIPS  Average_HP
0      Autauga     Alabama   1001   156341.75
1      Baldwin     Alabama   1003   222907.75
2      Barbour     Alabama   1005    96513.75
3         Bibb     Alabama   1007   103153.25
4       Blount     Alabama   1009   133840.75
...         ...        ...    ...         ...
3112     Teton     Wyoming  56039   867572.50
3113     Uinta     Wyoming  56041   185513.50
3114  Washakie     Wyoming  56043   173410.00
3115    Weston     Wyoming  56045   179362.50
3116   Laramie     Wyoming  56021   267274.25

[3117 rows x 4 columns]

In [4]:
def standardize_county(str_in):
    try:
        if '(County)' in str_in:
            output = str_in.replace('(County)','')
        elif '(Borough)' in str_in:
            output = str_in.replace('(Borough)','')
        elif '(Census Subarea)'in str_in:
            output = str_in.replace('(Census Subarea)','')
        elif '(Parish)'in str_in:
            output = str_in.replace('(Parish)','')
        else:
            output = None
    except: 
        output = None

    return output


def standardize_year(str_in):
    try:
        output = str_in.split('T')[0]
        output = pd.to_datetime(str_in).year
    except:
        output = None
        
    return output

In [5]:
disaster_type_df = pd.read_csv('datasets/DisasterDeclarationsSummaries.csv')

# select a subset of the columns
wanted_columns = ['state', 'declarationDate','incidentType','declarationTitle','designatedArea']

# rename the columns
disaster_type_df = disaster_type_df[wanted_columns].rename(columns={"declarationDate":"year", "designatedArea": "county", "incidentType":"disaster_type", "declarationTitle":"disaster_declaration"})

# Set "Statewide" to None and strip "(County)" from all counties
disaster_type_df['county'] = disaster_type_df['county'].apply(standardize_county)

# filter dataset to only include non-null 
disaster_type_df = disaster_type_df[~disaster_type_df['county'].isnull()]

# strip year column to only include year
disaster_type_df['year'] = disaster_type_df['year'].apply(standardize_year)

# sort by year
disaster_type_df = disaster_type_df.sort_values('year').reset_index(drop = True)

# check for no NaNs
assert(disaster_type_df.isna().sum().sum() == 0)

disaster_type_df

,state,year,disaster_type,disaster_declaration,county
0,IN,1959,Flood,FLOOD,Clay
1,WA,1964,Flood,HEAVY RAINS & FLOODING,Wahkiakum
2,WA,1964,Flood,HEAVY RAINS & FLOODING,Skamania
3,WA,1964,Flood,HEAVY RAINS & FLOODING,Pierce
4,WA,1964,Flood,HEAVY RAINS & FLOODING,Pacific
...,...,...,...,...,...
57602,MO,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dunklin
57603,TN,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dyer
57604,WA,2022,Flood,"SEVERE STORMS, STRAIGHT-LINE WINDS, FLOODING, ...",Whatcom
57605,TN,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Henderson
57606,MO,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Iron

In [6]:
state_abv = {'AK': 'Alaska','AL': 'Alabama','AR': 'Arkansas','AZ': 'Arizona','CA': 'California','CO': 'Colorado',
             'CT': 'Connecticut','DE': 'Delaware','FL': 'Florida','GA': 'Georgia','HI': 'Hawaii','IA': 'Iowa',
             'ID': 'Idaho','IL': 'Illinois','IN': 'Indiana','KS': 'Kansas','KY': 'Kentucky','LA': 'Louisiana',
             'MA': 'Massachusetts','MD': 'Maryland','ME': 'Maine','MI': 'Michigan','MN': 'Minnesota',
             'MO': 'Missouri','MS': 'Mississippi','MT': 'Montana','NC': 'North Carolina','ND': 'North Dakota',
             'NE': 'Nebraska','NH': 'New Hampshire','NJ': 'New Jersey','NM': 'New Mexico','NV': 'Nevada',
             'NY': 'New York','OH': 'Ohio','OK': 'Oklahoma','OR': 'Oregon','PA': 'Pennsylvania',
            'RI': 'Rhode Island','SC': 'South Carolina','SD': 'South Dakota','TN': 'Tennessee',
             'TX': 'Texas','UT': 'Utah','VA': 'Virginia','VT': 'Vermont','WA': 'Washington',
             'WI': 'Wisconsin','WV': 'West Virginia','WY': 'Wyoming'
                    }
disaster_type_df['state'] = disaster_type_df['state'].map(state_abv)
dfrq_df = disaster_type_df[disaster_type_df['year'] >= 2017].reset_index(drop=True)
dfrq_df

,state,year,disaster_type,disaster_declaration,county
0,Georgia,2017,Hurricane,HURRICANE IRMA,Laurens
1,Georgia,2017,Hurricane,HURRICANE IRMA,Long
2,Georgia,2017,Hurricane,HURRICANE IRMA,Oconee
3,Georgia,2017,Hurricane,HURRICANE IRMA,Oglethorpe
4,Georgia,2017,Hurricane,HURRICANE IRMA,Peach
...,...,...,...,...,...
13769,Missouri,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dunklin
13770,Tennessee,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dyer
13771,Washington,2022,Flood,"SEVERE STORMS, STRAIGHT-LINE WINDS, FLOODING, ...",Whatcom
13772,Tennessee,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Henderson
13773,Missouri,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Iron

In [7]:
df = pd.merge(hp_df,dfrq_df, how='left',on=['state','county'])
old_cols = df.columns.values
df['disaster_type'] = df['disaster_type'].fillna(disaster_type_df['disaster_type'])
new_cols = ['county','state','FIPS','Average_HP','disaster_type']
df = df.reindex(columns=new_cols)
df

         county      state   FIPS  Average_HP    disaster_type
0      Autauga     Alabama   1001   156341.75            Flood
1      Baldwin     Alabama   1003   222907.75            Flood
2      Barbour     Alabama   1005    96513.75            Flood
3         Bibb     Alabama   1007   103153.25            Flood
4       Blount     Alabama   1009   133840.75            Flood
...         ...        ...    ...         ...              ...
3112     Teton     Wyoming  56039   867572.50  Severe Storm(s)
3113     Uinta     Wyoming  56041   185513.50  Severe Storm(s)
3114  Washakie     Wyoming  56043   173410.00            Flood
3115    Weston     Wyoming  56045   179362.50  Severe Storm(s)
3116   Laramie     Wyoming  56021   267274.25  Severe Storm(s)

[3117 rows x 5 columns]

In [92]:
fips_df = pd.read_csv('datasets//county_fips_lat_long.csv', encoding = 'latin1')
fips_df = fips_df.rename(str.lower,axis='columns')
fips_df['state'] = fips_df['state'].map(state_abv)
fips_df = fips_df[1:]
fips_df = fips_df[['state','fips','county [2]','latitude','longitude']]
fips_df = fips_df.rename(columns={'county [2]':'county'})
fips_df

        state   fips      county     latitude     longitude
1     Alabama  01001     Autauga  +32.536382°   86.644490°
2     Alabama  01003     Baldwin  +30.659218°   87.746067°
3     Alabama  01005     Barbour  +31.870670°   85.405456°
4     Alabama  01007        Bibb  +33.015893°   87.127148°
5     Alabama  01009      Blount  +33.977448°   86.567246°
...       ...    ...         ...          ...           ...
3139  Wyoming  56037  Sweetwater  +41.660339°  108.875676°
3140  Wyoming  56039       Teton  +44.049321°  110.588102°
3141  Wyoming  56041       Uinta  +41.284726°  110.558947°
3142  Wyoming  56043    Washakie  +43.878831°  107.669052°
3143  Wyoming  56045      Weston  +43.846213°  104.570020°

[3143 rows x 5 columns]

In [91]:
merged_df = pd.merge(dfrq_df,fips, on=['state','county'],how='left')
merged_df

,state,year,disaster_type,disaster_declaration,county,fips
0,Georgia,2017,Hurricane,HURRICANE IRMA,Laurens,NaN
1,Georgia,2017,Hurricane,HURRICANE IRMA,Long,NaN
2,Georgia,2017,Hurricane,HURRICANE IRMA,Oconee,NaN
3,Georgia,2017,Hurricane,HURRICANE IRMA,Oglethorpe,NaN
4,Georgia,2017,Hurricane,HURRICANE IRMA,Peach,NaN
...,...,...,...,...,...,...
13769,Missouri,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dunklin,NaN
13770,Tennessee,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dyer,NaN
13771,Washington,2022,Flood,"SEVERE STORMS, STRAIGHT-LINE WINDS, FLOODING, ...",Whatcom,NaN
13772,Tennessee,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Henderson,NaN
13773,Missouri,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Iron,NaN

In [133]:
af = addfips.AddFIPS()
def find_fips(x):
    county = x['county'].strip()
    state = x['state'].strip()
    fips = af.get_county_fips(county,state=state)
    return str(fips)
# def findLong(x):
#     county = x['county'].strip()
#     state = x['state'].strip()
#     county_state = county + ' County, ' + state
#     geolocator = Nominatim(user_agent='find_long')
#     loc = geolocator.geocode(county_state)
#     return loc.longitude
# def findLat(x):
#     county = x['county'].strip()
#     state = x['state'].strip()
#     county_state = county + ' County, ' + state
#     geolocator = Nominatim(user_agent='find_long')
#     loc = geolocator.geocode(county_state)
#     return loc.latitude
tqdm.pandas()
dfrq_df['fips'] = dfrq_df.progress_apply(find_fips,axis=1)
# dfrq_df['long'] = dfrq_df.progress_apply(findLong,axis=1)
# dfrq_df['lat'] = dfrq_df.progress_apply(findLat,axis=1)
# long = []
# lat = []
# for i in range(len(dfrq_df)):
#     if findGeocode(dfrq_df.loc[i,'county'],dfrq_df.loc[i,'state']) != None:
#         loc = findGeocode(dfrq_df.loc[i,'county'],dfrq_df.loc[i,'state'])
#         lat.append(loc.latitude)
#         long.append(loc.longitude)
#         print(i)
#     else:
#         lat.append(np.nan)
#         long.append(np.nan)
# dfrq_df['long'] = long
# dfrq_df['lat'] = lat
dfrq_df

100%|██████████████████████████████████| 13774/13774 [00:00<00:00, 51961.86it/s]

,state,year,disaster_type,disaster_declaration,county,fips
0,Georgia,2017,Hurricane,HURRICANE IRMA,Laurens,13175
1,Georgia,2017,Hurricane,HURRICANE IRMA,Long,13183
2,Georgia,2017,Hurricane,HURRICANE IRMA,Oconee,13219
3,Georgia,2017,Hurricane,HURRICANE IRMA,Oglethorpe,13221
4,Georgia,2017,Hurricane,HURRICANE IRMA,Peach,13225
...,...,...,...,...,...,...
13769,Missouri,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dunklin,29069
13770,Tennessee,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dyer,47045
13771,Washington,2022,Flood,"SEVERE STORMS, STRAIGHT-LINE WINDS, FLOODING, ...",Whatcom,53073
13772,Tennessee,2022,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Henderson,47077
13773,Missouri,2022,Severe Storm(s),"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Iron,29093

In [150]:
dfrq_df['county_state'] = dfrq_df['county']+", " +dfrq_df['state']
geolocator = Nominatim(user_agent='find_long_lat')
def standardize_long(location):
    try:
        output = location.longitude
    except:
        output = None
    return output
def standardize_lat(location):
    try:
        output = location.latitude
    except:
        output = None
    return output
geocode = RateLimiter(geolocator.geocode,min_delay_seconds=1)
tqdm.pandas()
try:
    dfrq_df['geocode'] = dfrq_df['county_state'].progress_apply(geocode)
except:
    pass

100%|███████████████████████████████████| 13774/13774 [4:30:36<00:00,  1.18s/it]

In [185]:
geolocator.geocode('Acadia Parish, Louisiana')

Location(Acadia Parish, Louisiana, United States, (30.2740735, -92.3957036, 0.0))

In [186]:
disaster_type_df['county'][0]

'Clay '

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [9]:
import plotly.graph_objects as go

import pandas as pd

{'Laurens ': 'Georgia',
 'Long ': 'Georgia',
 'Oconee ': 'Georgia',
 'Oglethorpe ': 'Georgia',
 'Peach ': 'Georgia',
 'Miller ': 'Missouri',
 'Pickens ': 'Georgia',
 'Schley ': 'Georgia',
 'Tift ': 'Georgia',
 'Tattnall ': 'Georgia',
 'Toombs ': 'Georgia',
 'Marion ': 'Kentucky',
 'Gwinnett ': 'Georgia',
 'Hall ': 'Texas',
 'Montgomery ': 'Kentucky',
 'Macon ': 'Missouri',
 'Seminole ': 'Oklahoma',
 'Jeff Davis ': 'Texas',
 'Heard ': 'Georgia',
 'Dade ': 'Missouri',
 'Telfair ': 'Georgia',
 'Screven ': 'Georgia',
 'Spalding ': 'Georgia',
 'Butts ': 'Georgia',
 'Crawford ': 'Iowa',
 'Hart ': 'Kentucky',
 'Jasper ': 'Texas',
 'Pulaski ': 'Kentucky',
 'Stephens ': 'Oklahoma',
 'Fulton ': 'Pennsylvania',
 'Hancock ': 'Mississippi',
 'Johnson ': 'Kentucky',
 'Mitchell ': 'Texas',
 'Taliaferro ': 'Georgia',
 'Walker ': 'Texas',
 'Burke ': 'North Carolina',
 'Clarke ': 'Mississippi',
 'Echols ': 'Georgia',
 'Towns ': 'Georgia',
 'Columbia ': 'Washington',
 'Emanuel ': 'Georgia',
 'Pike ': 'Kentucky',
 'Thomas ': 'Kansas',
 'Terrell ': 'Texas',
 'Gilmer ': 'Georgia',
 'Glascock ': 'Georgia',
 'McDuffie ': 'Georgia',
 'Randolph ': 'Alabama',
 'Upson ': 'Georgia',
 'Calhoun ': 'Texas',
 'Clayton ': 'Iowa',
 'Harris ': 'Texas',
 'Jones ': 'Texas',
 'Stewart ': 'Tennessee',
 'Chattooga ': 'Georgia',
 'Dodge ': 'Nebraska',
 'Georgetown - Quitman ': 'Georgia',
 'Clinch ': 'Georgia',
 'Jenkins ': 'Georgia',
 'DeKalb ': 'Tennessee',
 'Greene ': 'New York',
 'Dougherty ': 'Georgia',
 'Fayette ': 'Texas',
 'Henry ': 'Tennessee',
 'Irwin ': 'Georgia',
 'Polk ': 'Texas',
 'Sumter ': 'Florida',
 'Troup ': 'Georgia',
 'Cook ': 'Minnesota',
 'Floyd ': 'Kentucky',
 'Habersham ': 'Georgia',
 'Jackson ': 'Kentucky',
 'Lanier ': 'Georgia',
 'Paulding ': 'Georgia',
 'Madison ': 'Missouri',
 'Rabun ': 'Georgia',
 'Colquitt ': 'Georgia',
 'Decatur ': 'Tennessee',
 'Dooly ': 'Georgia',
 'Grady ': 'Oklahoma',
 'Newton ': 'Texas',
 'Washington ': 'Texas',
 'Dawson ': 'Georgia',
 'Collier ': 'Florida',
 'Liberty ': 'Texas',
 'Santa Rosa ': 'Florida',
 'Baker ': 'Florida',
 'Gadsden ': 'Florida',
 'Duval ': 'Texas',
 'Gilchrist ': 'Florida',
 'Franklin ': 'Virginia',
 'Hillsborough ': 'Florida',
 'Osceola ': 'Iowa',
 'Sarasota ': 'Florida',
 'Volusia ': 'Florida',
 'Monroe ': 'Florida',
 'Union ': 'Louisiana',
 'Citrus ': 'Florida',
 'Lafayette ': 'Louisiana',
 'Wakulla ': 'Florida',
 'Hamilton ': 'Texas',
 'Douglas ': 'Georgia',
 'Hernando ': 'Florida',
 'Bay ': 'Florida',
 'Hendry ': 'Florida',
 'Wharton ': 'Texas',
 'Charlotte ': 'Florida',
 'DeSoto ': 'Mississippi',
 'Dubuque ': 'Iowa',
 'Brevard ': 'Florida',
 'Bradford ': 'Florida',
 'Escambia ': 'Florida',
 'Flagler ': 'Florida',
 'Hardee ': 'Florida',
 'Dixie ': 'Florida',
 'Elmore ': 'Alabama',
 'Leon ': 'Texas',
 'Muscogee ': 'Georgia',
 'Oswego ': 'New York',
 'Martin ': 'Kentucky',
 'Ben Hill ': 'Georgia',
 'Barrow ': 'Georgia',
 'Bleckley ': 'Georgia',
 'Bryan ': 'Oklahoma',
 'Brantley ': 'Georgia',
 'Atkinson ': 'Georgia',
 'Bartow ': 'Georgia',
 'Bulloch ': 'Georgia',
 'Berrien ': 'Michigan',
 'Banks ': 'Georgia',
 'Brooks ': 'Texas',
 'Baldwin ': 'Alabama',
 'Bibb ': 'Alabama',
 'Candler ': 'Georgia',
 'Carroll ': 'Georgia',
 'Chattahoochee ': 'Georgia',
 'Cobb ': 'Georgia',
 'Levy ': 'Florida',
 'Lake ': 'Tennessee',
 'Putnam ': 'West Virginia',
 'Pinellas ': 'Florida',
 'Indian River ': 'Florida',
 'Manatee ': 'Florida',
 'St. Lucie ': 'Florida',
 'Nassau ': 'New York',
 'Pasco ': 'Florida',
 'Appling ': 'Georgia',
 'Bacon ': 'Georgia',
 'Orange ': 'Texas',
 'Suwannee ': 'Florida',
 'Lee ': 'Kentucky',
 'Miami-Dade ': 'Florida',
 'Okeechobee ': 'Florida',
 'Palm Beach ': 'Florida',
 'St. Johns ': 'Florida',
 'Evans ': 'Georgia',
 'Charleston ': 'South Carolina',
 'Haralson ': 'Georgia',
 'Allendale ': 'South Carolina',
 'Florence ': 'Wisconsin',
 'Orangeburg ': 'South Carolina',
 'George ': 'Mississippi',
 'Red River ': 'Louisiana',
 'Berkeley ': 'West Virginia',
 'Bamberg ': 'South Carolina',
 'Georgetown ': 'South Carolina',
 'Lexington ': 'South Carolina',
 'Williamsburg ': 'South Carolina',
 'Wayne ': 'Missouri',
 'Horry ': 'South Carolina',
 'North Slope ': 'Alaska',
 'Kershaw ': 'South Carolina',
 'Harrison ': 'Texas',
 'Allen ': 'Louisiana',
 'Beauregard ': 'Louisiana',
 'Canyon ': 'Idaho',
 'Calcasieu ': 'Louisiana',
 'Cameron ': 'Louisiana',
 'Abbeville ': 'South Carolina',
 'Colleton ': 'South Carolina',
 'Autauga ': 'Alabama',
 'Choctaw ': 'Oklahoma',
 'Vernon ': 'Louisiana',
 'Barnwell ': 'South Carolina',
 'Edgefield ': 'South Carolina',
 'Greenville ': 'South Carolina',
 'McCormick ': 'South Carolina',
 'Niagara ': 'New York',
 'Yuba ': 'California',
 'St. Lawrence ': 'New York',
 'Stone ': 'Mississippi',
 'Anderson ': 'Texas',
 'Wyandotte ': 'Kansas',
 'Orleans ': 'Louisiana',
 'Mobile ': 'Alabama',
 'Beaufort ': 'North Carolina',
 'Dorchester ': 'Maryland',
 'York ': 'Nebraska',
 'Jefferson ': 'Washington',
 'Taylor ': 'Texas',
 'Marlboro ': 'South Carolina',
 'Clarendon ': 'South Carolina',
 'Hampton ': 'South Carolina',
 'Chesterfield ': 'Virginia',
 'Vermilion ': 'Louisiana',
 'Dillon ': 'South Carolina',
 'Darlington ': 'South Carolina',
 'Greenwood ': 'Kansas',
 'Newberry ': 'South Carolina',
 'Richland ': 'Louisiana',
 'Saluda ': 'South Carolina',
 'Spartanburg ': 'South Carolina',
 'Dallas ': 'Texas',
 'Aiken ': 'South Carolina',
 'Fairfield ': 'South Carolina',
 'Cayuga ': 'New York',
 'Lancaster ': 'Virginia',
 'Cherokee ': 'Oklahoma',
 'Chester ': 'Pennsylvania',
 'Fannin ': 'Texas',
 'Rapides ': 'Louisiana',
 'Early ': 'Georgia',
 'Meriwether ': 'Georgia',
 'Turner ': 'South Dakota',
 'Catoosa ': 'Georgia',
 'Elbert ': 'Colorado',
 'Forsyth ': 'Georgia',
 'Treutlen ': 'Georgia',
 'Ware ': 'Georgia',
 'Wilkes ': 'North Carolina',
 'Twiggs ': 'Georgia',
 'Charlton ': 'Georgia',
 'Glynn ': 'Georgia',
 'Worth ': 'Iowa',
 'Warren ': 'Mississippi',
 'Crisp ': 'Georgia',
 'Coffee ': 'Tennessee',
 'Coweta ': 'Georgia',
 'Pierce ': 'North Dakota',
 'Lumpkin ': 'Georgia',
 'Richmond ': 'Virginia',
 'Talbot ': 'Maryland',
 'Gordon ': 'Georgia',
 'Morgan ': 'Kentucky',
 'Clay ': 'Kentucky',
 'Lowndes ': 'Mississippi',
 'Murray ': 'Oklahoma',
 'Lincoln ': 'Oklahoma',
 'Rockdale ': 'Georgia',
 'Effingham ': 'Illinois',
 'Houston ': 'Texas',
 'Lamar ': 'Texas',
 'Grant ': 'Louisiana',
 'Wheeler ': 'Texas',
 'Chatham ': 'North Carolina',
 'Acadia ': 'Louisiana',
 'Assumption ': 'Louisiana',
 'Sabine ': 'Texas',
 'Buffalo ': 'Nebraska',
 'Iowa ': 'Iowa',
 'Lafourche ': 'Louisiana',
 'Solano ': 'California',
 'De Soto ': 'Louisiana',
 'St. Mary ': 'Louisiana',
 'Natchitoches ': 'Louisiana',
 'Trempealeau ': 'Wisconsin',
 'Napa ': 'California',
 'Sonoma ': 'California',
 'Wilkinson ': 'Mississippi',
 'La Crosse ': 'Wisconsin',
 'Wilcox ': 'Alabama',
 'Camden ': 'New Jersey',
 'McIntosh ': 'Oklahoma',
 'Walton ': 'Florida',
 'White ': 'Georgia',
 'Whitfield ': 'Georgia',
 'Webster ': 'Louisiana',
 'Iberia ': 'Louisiana',
 'Jefferson Davis ': 'Mississippi',
 'Plaquemines ': 'Louisiana',
 'Nevada ': 'California',
 'Ada ': 'Idaho',
 'Butte ': 'South Dakota',
 'Mendocino ': 'California',
 'St. Charles ': 'Louisiana',
 'Rock ': 'Nebraska',
 'Broward ': 'Florida',
 'Spokane ': 'Washington',
 'Ferry ': 'Washington',
 'Santa Clara ': 'California',
 'Whatcom ': 'Washington',
 'Walla Walla ': 'Washington',
 'Tehama ': 'California',
 'San Joaquin ': 'California',
 'Cassia ': 'Idaho',
 'Lewis ': 'Washington',
 'Benton ': 'Oregon',
 'Siskiyou ': 'California',
 'Stanislaus ': 'California',
 'Teton ': 'Montana',
 'Pend Oreille ': 'Washington',
 'Adams ': 'Mississippi',
 'King ': 'Texas',
 'Yolo ': 'California',
 'Trinity ': 'Texas',
 'Sutter ': 'California',
 'Shasta ': 'California',
 'Santa Barbara ': 'California',
 'Sierra ': 'California',
 'San Luis Obispo ': 'California',
 'Skamania ': 'Washington',
 'Tuolumne ': 'California',
 'Santa Cruz ': 'Arizona',
 'Kings ': 'New York',
 'Del Norte ': 'California',
 'Colusa ': 'California',
 'Storey ': 'Nevada',
 'Elko ': 'Nevada',
 'Humboldt ': 'Iowa',
 'Alameda ': 'California',
 'Alpine ': 'California',
 'Amador ': 'California',
 'Churchill ': 'Nevada',
 'Washoe ': 'Nevada',
 'Calaveras ': 'California',
 'Sheridan ': 'Nebraska',
 'Modoc ': 'California',
 'Marin ': 'California',
 'Plumas ': 'California',
 'Mariposa ': 'California',
 'Glenn ': 'California',
 'Merced ': 'California',
 'Lassen ': 'California',
 'Sacramento ': 'California',
 'San Benito ': 'California',
 'Monterey ': 'California',
 'Contra Costa ': 'California',
 'Mono ': 'California',
 'El Dorado ': 'California',
 'San Mateo ': 'California',
 'Bingham ': 'Idaho',
 'Cape Girardeau ': 'Missouri',
 'Logan ': 'Oklahoma',
 'Rogers ': 'Oklahoma',
 'Ralls ': 'Missouri',
 'Perry ': 'Kentucky',
 'Sequoyah ': 'Oklahoma',
 'Barton ': 'Kansas',
 'Delaware ': 'Oklahoma',
 'Caddo ': 'Louisiana',
 'Scott ': 'Mississippi',
 'Washita ': 'Oklahoma',
 'Pittsburg ': 'Oklahoma',
 'Bollinger ': 'Missouri',
 'Lawrence ': 'Kentucky',
 'Belknap ': 'New Hampshire',
 'New Madrid ': 'Missouri',
 'Cole ': 'Missouri',
 'Cedar ': 'Iowa',
 'Boone ': 'West Virginia',
 'Ottawa ': 'Oklahoma',
 'Muskogee ': 'Oklahoma',
 'Adair ': 'Oklahoma',
 'Yazoo ': 'Mississippi',
 'Beaver ': 'Oklahoma',
 'Latah ': 'Idaho',
 'Boundary ': 'Idaho',
 'Wahkiakum ': 'Washington',
 'Craig ': 'Oklahoma',
 'Minidoka ': 'Idaho',
 'Benewah ': 'Idaho',
 'Cache ': 'Utah',
 'Twin Falls ': 'Idaho',
 'Jerome ': 'Idaho',
 'Gooding ': 'Idaho',
 'Box Elder ': 'Utah',
 'Idaho ': 'Idaho',
 'Kootenai ': 'Idaho',
 'Dewey ': 'Oklahoma',
 'Mayes ': 'Oklahoma',
 'Claiborne ': 'Louisiana',
 'Holmes ': 'Florida',
 'Kiowa ': 'Oklahoma',
 'Shoshone ': 'Idaho',
 'Cimarron ': 'Oklahoma',
 'Valley ': 'Montana',
 'Bonner ': 'Idaho',
 'Haskell ': 'Oklahoma',
 'Clearwater ': 'Minnesota',
 'Russell ': 'Kansas',
 'Clark ': 'Kentucky',
 'Faulk ': 'South Dakota',
 'McPherson ': 'Kansas',
 'Marshall ': 'Oklahoma',
 'Harding ': 'South Dakota',
 'Deuel ': 'Nebraska',
 'Codington ': 'South Dakota',
 'Haakon ': 'South Dakota',
 'Day ': 'South Dakota',
 'Fall River ': 'South Dakota',
 'Hamlin ': 'South Dakota',
 'Meade ': 'Kentucky',
 'Edmunds ': 'South Dakota',
 'Beckham ': 'Oklahoma',
 'Sully ': 'South Dakota',
 'Perkins ': 'South Dakota',
 'Texas ': 'Oklahoma',
 'Blaine ': 'Oklahoma',
 'Ziebach ': 'South Dakota',
 'Woodward ': 'Oklahoma',
 'Pennington ': 'South Dakota',
 'Stanley ': 'South Dakota',
 'Ellis ': 'Oklahoma',
 'Forrest ': 'Mississippi',
 'Lane ': 'Kansas',
 'Josephine ': 'Oregon',
 'Lauderdale ': 'Mississippi',
 'Harper ': 'Oklahoma',
 'Woods ': 'Oklahoma',
 'Inyo ': 'California',
 'Los Angeles ': 'California',
 'Jewell ': 'Kansas',
 'Comanche ': 'Texas',
 'Riverside ': 'California',
 'San Diego ': 'California',
 'Seward ': 'Kansas',
 'Trego ': 'Kansas',
 'Edwards ': 'Texas',
 'Kern ': 'California',
 'Hodgeman ': 'Kansas',
 'Rice ': 'Kansas',
 'Pawnee ': 'Oklahoma',
 'Ford ': 'Kansas',
 'Stafford ': 'Kansas',
 'Ellsworth ': 'Kansas',
 'Rush ': 'Kansas',
 'Pratt ': 'Kansas',
 'Barry ': 'Missouri',
 'Major ': 'Oklahoma',
 'Roberts ': 'Texas',
 'Roger Mills ': 'Oklahoma',
 'Placer ': 'California',
 'Livingston ': 'Louisiana',
 'Lyon ': 'Kentucky',
 'Mississippi ': 'Arkansas',
 'Goliad ': 'Texas',
 'Aransas ': 'Texas',
 'Preston ': 'West Virginia',
 'Colorado ': 'Texas',
 'Hood River ': 'Oregon',
 'Park ': 'Wyoming',
 'Caledonia ': 'Vermont',
 'Grafton ': 'New Hampshire',
 'Towner ': 'North Dakota',
 'Butler ': 'Kansas',
 'Box Butte ': 'Nebraska',
 'Midland ': 'Texas',
 'Bennington ': 'Vermont',
 'Comal ': 'Texas',
 'Travis ': 'Texas',
 'Monongalia ': 'West Virginia',
 'Coos ': 'New Hampshire',
 'Fort Bend ': 'Texas',
 'DeWitt ': 'Texas',
 'Bee ': 'Texas',
 'Burleson ': 'Texas',
 'Bexar ': 'Texas',
 'Grimes ': 'Texas',
 'Tarrant ': 'Texas',
 'Bastrop ': 'Texas',
 'Pembina ': 'North Dakota',
 'Okmulgee ': 'Oklahoma',
 'Sioux ': 'North Dakota',
 'Fillmore ': 'Nebraska',
 'Cotton ': 'Oklahoma',
 'Rolette ': 'North Dakota',
 'Le Flore ': 'Oklahoma',
 'Cavalier ': 'North Dakota',
 'Platte ': 'Wyoming',
 'Walsh ': 'North Dakota',
 'Cuming ': 'Nebraska',
 'Sarpy ': 'Nebraska',
 'Cass ': 'Texas',
 'Saunders ': 'Nebraska',
 'Morrill ': 'Nebraska',
 'Alfalfa ': 'Oklahoma',
 'Gage ': 'Nebraska',
 'Benson ': 'North Dakota',
 'Thurston ': 'Nebraska',
 'Banner ': 'Nebraska',
 'Okfuskee ': 'Oklahoma',
 'Renville ': 'North Dakota',
 'Suffolk ': 'New York',
 'San Augustine ': 'Texas',
 'Galveston ': 'Texas',
 'Rutland ': 'Vermont',
 'Windsor ': 'Vermont',
 'Refugio ': 'Texas',
 'Karnes ': 'Texas',
 'Bremer ': 'Iowa',
 'San Patricio ': 'Texas',
 'Kleberg ': 'Texas',
 'Tyler ': 'Texas',
 'Matagorda ': 'Texas',
 'Buchanan ': 'Virginia',
 'San Jacinto ': 'Texas',
 'Okaloosa ': 'Florida',
 'Winneshiek ': 'Iowa',
 'Glades ': 'Florida',
 'Alachua ': 'Florida',
 'Highlands ': 'Florida',
 'Gulf ': 'Florida',
 'Waller ': 'Texas',
 'Custer ': 'Oklahoma',
 'Camas ': 'Idaho',
 'Nueces ': 'Texas',
 'Allamakee ': 'Iowa',
 'Gonzales ': 'Texas',
 'Austin ': 'Texas',
 'Ohio ': 'Kentucky',
 'Addison ': 'Vermont',
 'Jim Wells ': 'Texas',
 'Isabella ': 'Michigan',
 'Guadalupe ': 'Texas',
 'Tucker ': 'West Virginia',
 'Doddridge ': 'West Virginia',
 'Milam ': 'Texas',
 'Brazoria ': 'Texas',
 'Victoria ': 'Texas',
 'Lavaca ': 'Texas',
 'Hardin ': 'Texas',
 'Caldwell ': 'Texas',
 'Deschutes ': 'Oregon',
 'Chambers ': 'Texas',
 'Wetzel ': 'West Virginia',
 'Washakie ': 'Wyoming',
 'Gladwin ': 'Michigan',
 'Fremont ': 'Iowa',
 'Chickasaw ': 'Mississippi',
 'Bottineau ': 'North Dakota',
 'Johnston ': 'Oklahoma',
 'Saline ': 'Missouri',
 'Independence ': 'Arkansas',
 'Conway ': 'Arkansas',
 'Finney ': 'Kansas',
 'Izard ': 'Arkansas',
 'Greeley ': 'Kansas',
 'Searcy ': 'Arkansas',
 'Cross ': 'Arkansas',
 'Woodruff ': 'Arkansas',
 'Graham ': 'North Carolina',
 'Craighead ': 'Arkansas',
 'Faulkner ': 'Arkansas',
 'Gove ': 'Kansas',
 'Poinsett ': 'Arkansas',
 'Baxter ': 'Arkansas',
 'Cleburne ': 'Alabama',
 'Yell ': 'Arkansas',
 'Cheyenne ': 'Kansas',
 'Ouachita ': 'Louisiana',
 'Wright ': 'Iowa',
 'Prairie ': 'Montana',
 'Carter ': 'Oklahoma',
 'Reynolds ': 'Missouri',
 'Taney ': 'Missouri',
 'Oregon ': 'Missouri',
 'St. Louis ': 'Missouri',
 'Pemiscot ': 'Missouri',
 'Osage ': 'Oklahoma',
 'Maries ': 'Missouri',
 'Ripley ': 'Missouri',
 'Howell ': 'Missouri',
 'Dunklin ': 'Missouri',
 'Ozark ': 'Missouri',
 'Gasconade ': 'Missouri',
 'Christian ': 'Missouri',
 'Iron ': 'Missouri',
 'Phelps ': 'Missouri',
 'McDonald ': 'Missouri',
 'Dent ': 'Missouri',
 'Ste. Genevieve ': 'Missouri',
 'Shannon ': 'Missouri',
 'Chenango ': 'New York',
 'Herkimer ': 'New York',
 'Red Willow ': 'Nebraska',
 'Oneida ': 'New York',
 'Rensselaer ': 'New York',
 'Cortland ': 'New York',
 'Clinton ': 'Kentucky',
 'Holt ': 'Missouri',
 'Essex ': 'Virginia',
 'Broome ': 'New York',
 'Otsego ': 'New York',
 'Saratoga ': 'New York',
 'McHenry ': 'North Dakota',
 'Tompkins ': 'New York',
 'Tioga ': 'New York',
 'Pontotoc ': 'Oklahoma',
 'Coal ': 'Oklahoma',
 'Ulster ': 'New York',
 'Schenectady ': 'New York',
 'Schoharie ': 'New York',
 'Dutchess ': 'New York',
 'Loup ': 'Nebraska',
 'Albany ': 'New York',
 'Sullivan ': 'New York',
 'Roane ': 'Tennessee',
 'Stevens ': 'Washington',
 'Rawlins ': 'Kansas',
 'Neosho ': 'Kansas',
 'Kearny ': 'Kansas',
 'Morton ': 'Kansas',
 'Sherman ': 'Texas',
 'Norton ': 'Kansas',
 'Wichita ': 'Texas',
 'Smith ': 'Texas',
 'Rhea ': 'Tennessee',
 'Shelby ': 'Tennessee',
 'Wallace ': 'Kansas',
 'Garfield ': 'Oklahoma',
 'Cumberland ': 'Virginia',
 'Blount ': 'Tennessee',
 'Stanton ': 'Kansas',
 'Gosper ': 'Nebraska',
 'Loudon ': 'Tennessee',
 'Furnas ': 'Nebraska',
 'Knox ': 'Kentucky',
 'Sevier ': 'Utah',
 'Ness ': 'Kansas',
 'Barbour ': 'Alabama',
 'Geneva ': 'Alabama',
 'Etowah ': 'Alabama',
 'Dale ': 'Alabama',
 'Conecuh ': 'Alabama',
 'Covington ': 'Mississippi',
 'Cullman ': 'Alabama',
 'Crenshaw ': 'Alabama',
 'Coosa ': 'Alabama',
 'Colbert ': 'Alabama',
 'Chilton ': 'Alabama',
 'Bullock ': 'Alabama',
 'Pearl River ': 'Mississippi',
 'Hale ': 'Alabama',
 'Tuscaloosa ': 'Alabama',
 'Talladega ': 'Alabama',
 'Marengo ': 'Alabama',
 'St. Clair ': 'Missouri',
 'Terrebonne ': 'Louisiana',
 'Limestone ': 'Texas',
 'Tallapoosa ': 'Alabama',
 'St. James ': 'Louisiana',
 'St. Martin ': 'Louisiana',
 'St. Tammany ': 'Louisiana',
 'St. Helena ': 'Louisiana',
 'St. John the Baptist ': 'Louisiana',
 'St. Bernard ': 'Louisiana',
 'Winston ': 'Mississippi',
 'Tangipahoa ': 'Louisiana',
 'Ventura ': 'California',
 'Rooks ': 'Kansas',
 'Sanders ': 'Montana',
 'Cochise ': 'Arizona',
 'Ravalli ': 'Montana',
 'Lewis and Clark ': 'Montana',
 'Powell ': 'Kentucky',
 'Sandoval ': 'New Mexico',
 'Klamath ': 'Oregon',
 'Yakima ': 'Washington',
 'Weber ': 'Utah',
 'Kittitas ': 'Washington',
 'Missoula ': 'Montana',
 'Multnomah ': 'Oregon',
 'Chelan ': 'Washington',
 'Yavapai ': 'Arizona',
 'Cleveland ': 'Oklahoma',
 'Pondera ': 'Montana',
 'Madera ': 'California',
 'Curry ': 'Oregon',
 'Pinal ': 'Arizona',
 'Tulare ': 'California',
 'Reno ': 'Kansas',
 'Petroleum ': 'Montana',
 'Davis ': 'Utah',
 'Wagoner ': 'Oklahoma',
 'Nicollet ': 'Minnesota',
 'McDowell ': 'North Carolina',
 'Yancey ': 'North Carolina',
 'Hoke ': 'North Carolina',
 'Wilson ': 'Tennessee',
 'Kauai ': 'Hawaii',
 'Campbell ': 'Tennessee',
 'Northampton ': 'Pennsylvania',
 'Northumberland ': 'Virginia',
 'Koochiching ': 'Minnesota',
 'Bertie ': 'North Carolina',
 'Brunswick ': 'Virginia',
 'Pamlico ': 'North Carolina',
 'Botetourt ': 'Virginia',
 'Nottoway ': 'Virginia',
 'James City ': 'Virginia',
 'King William ': 'Virginia',
 'Itasca ': 'Minnesota',
 'Stanly ': 'North Carolina',
 'Halifax ': 'Virginia',
 'King and Queen ': 'Virginia',
 'Middlesex ': 'Virginia',
 'Pender ': 'North Carolina',
 'Fond du Lac ': 'Wisconsin',
 'Dare ': 'North Carolina',
 'Dixon ': 'Nebraska',
 'New Haven (in (P)MSA 1160,5480,8880)': 'Connecticut',
 'Dakota ': 'Nebraska',
 'Dickinson ': 'Iowa',
 "O'Brien ": 'Iowa',
 'Story ': 'Iowa',
 'Colfax ': 'Nebraska',
 'Beltrami ': 'Minnesota',
 'Boyd ': 'Kentucky',
 'Emmet ': 'Iowa',
 'Winnebago ': 'Iowa',
 'Harlan ': 'Kentucky',
 'Kossuth ': 'Iowa',
 'Howard ': 'Texas',
 'Pocahontas ': 'Iowa',
 'Palo Alto ': 'Iowa',
 'Fairfield (in PMSA 1160,1930,5760,8040)': 'Connecticut',
 'Woodbury ': 'Iowa',
 'Blue Earth ': 'Minnesota',
 'Pine ': 'Minnesota',
 'Ashe ': 'North Carolina',
 'Carteret ': 'North Carolina',
 'Bladen ': 'North Carolina',
 'Chemung ': 'New York',
 'Alleghany ': 'North Carolina',
 'Lunenburg ': 'Virginia',
 'Cottonwood ': 'Minnesota',
 'Rappahannock ': 'Virginia',
 'Cabarrus ': 'North Carolina',
 'Harnett ': 'North Carolina',
 'Lenoir ': 'North Carolina',
 'Grayson ': 'Texas',
 'Lackawanna ': 'Pennsylvania',
 'Alamance ': 'North Carolina',
 'Duplin ': 'North Carolina',
 'Onslow ': 'North Carolina',
 'Treasure ': 'Montana',
 'Carlton ': 'Minnesota',
 'Watonwan ': 'Minnesota',
 'Anson ': 'North Carolina',
 'Green Lake ': 'Wisconsin',
 'Maui ': 'Hawaii',
 'Mecklenburg ': 'Virginia',
 'Juneau ': 'Alaska',
 'Musselshell ': 'Montana',
 'Matanuska-Susitna ': 'Alaska',
 'Sibley ': 'Minnesota',
 'Rowan ': 'Kentucky',
 'Columbus ': 'North Carolina',
 'Hyde ': 'North Carolina',
 'Barber ': 'Kansas',
 'Golden Valley ': 'Montana',
 'Montour ': 'Pennsylvania',
 'Wyoming ': 'West Virginia',
 'Aitkin ': 'Minnesota',
 'Kanabec ': 'Minnesota',
 'Nobles ': 'Minnesota',
 'Granville ': 'North Carolina',
 'Scotland ': 'Missouri',
 'Redwood ': 'Minnesota',
 'Van Buren ': 'Iowa',
 'Ozaukee ': 'Wisconsin',
 'Powhatan ': 'Virginia',
 'New Hanover ': 'North Carolina',
 'Prince Edward ': 'Virginia',
 'Dinwiddie ': 'Virginia',
 'Amelia ': 'Virginia',
 'Patrick ': 'Virginia',
 'Pittsylvania ': 'Virginia',
 'Schuylkill ': 'Pennsylvania',
 'Isle of Wight ': 'Virginia',
 'Davidson ': 'Tennessee',
 'Moore ': 'Tennessee',
 'Marquette ': 'Michigan',
 'Susquehanna ': 'Pennsylvania',
 'New Kent ': 'Virginia',
 'Faribault ': 'Minnesota',

In [41]:
rows = [{'county': 'Georgetown - Quitman ', 'state': 'Georgia'},{'county': 'Laurens', 'state': 'Georgia'}]
for row in rows:
    print(af.add_county_fips(row,'county', 'state'))

{'county': 'Georgetown - Quitman ', 'state': 'Georgia', 'fips': None}
{'county': 'Laurens', 'state': 'Georgia', 'fips': '13175'}

In [36]:
rows = []
for i in range(len(dfrq_df)):
    rows.append({'county':dfrq_df.iloc[i]['county'],'state':dfrq_df.iloc[i]['state']})

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*

# Team Contributions

*Specify who in your group worked on which parts of the project.*