# COGS 108 - Data Checkpoint

# Names

- Tyler Le
- Aditya Tomar
- William Lynch
- Michael Mao
- Natalie Quach

<a id='research_question'></a>
# Research Question

Is there a positive correlation between the cost of living and the impact of natural disasters in terms of injuries, casualties, and property damage per capita? In which state does the impact of natural disasters affect cost of living the most?

# Dataset(s)

*Fill in your dataset information here*

**Template**
- Dataset Name:
- Link to the dataset: 
- Number of observations: 

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.



<!-- **1. Fatalities and Injuries.**
- Dataset Name: 2020 Summary of Hazardous Weather Fatalities, Injuries, and Damage Costs by State
- Link to the dataset: https://www.weather.gov/hazstat/
- Number of observations: 67 (per year). Each year is a separate dataset.

This is a dataset describing the number of fatalities, injuries, property damage costs, and total damage costs due to Hazardous weather for the year of 2015.

This dataset is for a single year, we plan to gather information for years from XXXX-XXXX and will merge all of them into one. -->


**1. Frequency of Disasters By State**
- Dataset Name: Billion-Dollar Disasters By Year (CPI-Adjusted)
- Link to the dataset: https://www.ncdc.noaa.gov/billions/state-freq-data.csv
- Number of observations: 2228 

This dataset contains the count of natural disasters that cost more than 1 billion dollars for each state from 1980 - 2021.



**2. Types of Disaster By State**
- Dataset Name: Disaster Declarations Summaries
- Link to the dataset: https://www.fema.gov/api/open/v1/DisasterDeclarationsSummaries.csv
- Number of observations: 62772

1-2 sentences describing each dataset. 
This dataset contains all federally declared natural disasters from 1953-2022 (by year,state, and type) along with declared recovery programs.

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

**3. National Risk Index (NRI)**
- Dataset Name:
- Link to the dataset: https://hazards.fema.gov/nri/data-resources#csvDownload
- Number of observations: 3142

Dataset from FEMA that identifies counties and states most at risk to 18 natural hazards. Includes data about expected annual losses from natural hazards, social vulnerability and community resilience.

# Setup

In [2]:
import pandas as pd
import os

# Data Cleaning

Describe your data cleaning steps here.
Most of our datasets were already clean because there were no NaN values.

## Clean Table #1 (Frequency of Disaster By State)

In [4]:
freq_df = pd.read_csv('datasets/natural_disaster_frequencies.csv')
assert(freq_df.isna().sum().sum() == 0)

freq_df.value_counts('state')
freq_df

,year,state,drought,flooding,freeze,severe storm,tropical cyclone,wildfire,winter storm
0,1980,AK,0,0,0,0,0,0,0
1,1980,AL,1,0,0,0,0,0,0
2,1980,AR,1,1,0,0,0,0,0
3,1980,AZ,0,0,0,0,0,0,0
4,1980,CA,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2221,2021,VT,0,0,0,0,0,0,0
2222,2021,WA,1,0,0,0,0,1,1
2223,2021,WI,0,0,0,4,0,0,0
2224,2021,WV,0,0,0,0,1,0,0
2225,2021,WY,1,0,0,0,0,1,0

## Clean Table #2 (Types of Disaster By State)

In [11]:
disaster_type_df = pd.read_csv('datasets/DisasterDeclarationsSummaries.csv')
wanted_columns = ['state', 'declarationDate','incidentType','declarationTitle','designatedArea']

disaster_type_df = disaster_type_df[wanted_columns].rename(columns={"designatedArea": "area"})
assert(disaster_type_df.isna().sum().sum() == 0)

disaster_type_df

,state,declarationDate,incidentType,declarationTitle,area
0,MA,1953-06-11T00:00:00.000Z,Tornado,TORNADO,Statewide
1,MI,1953-06-09T00:00:00.000Z,Tornado,TORNADO,Statewide
2,TX,1953-05-15T00:00:00.000Z,Tornado,TORNADO & HEAVY RAINFALL,Statewide
3,MI,1953-06-02T00:00:00.000Z,Tornado,TORNADO,Statewide
4,GA,1953-05-02T00:00:00.000Z,Tornado,TORNADO,Statewide
...,...,...,...,...,...
62766,WA,2022-01-05T19:15:00.000Z,Flood,"SEVERE STORMS, STRAIGHT-LINE WINDS, FLOODING, ...",San Juan (County)
62767,WA,2022-01-05T19:15:00.000Z,Flood,"SEVERE STORMS, STRAIGHT-LINE WINDS, FLOODING, ...",Jefferson (County)
62768,TN,2022-01-14T17:57:00.000Z,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Decatur (County)
62769,TN,2022-01-14T17:57:00.000Z,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",Dyer (County)
62770,CT,2021-10-30T13:30:00.000Z,Hurricane,REMNANTS OF HURRICANE IDA,"Litchfield (County)(in (P)MSA 1170,1930,3280,8..."

## Clean Table #3 (NRI)

In [5]:
# Look at the "NRI Data Dictionary in the datasets/NRI_Table_Counties" to see what the cols mean
# EAL = "Expected Annual Lost", quantifies the anticipated economic damage resulting from natural hazards each year. 
# 1-100 scale

df_nri = pd.read_csv('datasets/NRI_Table_Counties/NRI_Table_Counties.csv')
wanted_cols = ['STATE','STATEABBRV','COUNTY','POPULATION','AREA','RISK_SCORE','RISK_RATNG','EAL_SCORE','EAL_RATNG']

df_nri = df_nri[wanted_cols]
assert(df_nri.isna().sum().sum() == 0)

df_nri

,STATE,STATEABBRV,COUNTY,POPULATION,AREA,RISK_SCORE,RISK_RATNG,EAL_SCORE,EAL_RATNG
0,Kentucky,KY,Johnson,23356,261.958144,9.281419,Relatively Low,11.921944,Relatively Low
1,Kentucky,KY,Kenton,159720,160.213975,10.449057,Relatively Low,16.837131,Relatively Moderate
2,Kentucky,KY,Knott,16346,351.517978,10.068395,Relatively Low,10.945913,Relatively Low
3,Kentucky,KY,Knox,31883,386.298435,11.858245,Relatively Low,11.983719,Relatively Low
4,Kentucky,KY,Larue,14193,261.539564,4.610900,Very Low,7.028611,Very Low
...,...,...,...,...,...,...,...,...,...
3137,Wyoming,WY,Sweetwater,43806,10426.919825,2.572885,Very Low,7.174819,Very Low
3138,Wyoming,WY,Teton,21294,3996.855337,6.513988,Very Low,15.004361,Relatively Low
3139,Wyoming,WY,Uinta,21118,2081.651840,4.458528,Very Low,8.437977,Very Low
3140,Wyoming,WY,Washakie,8533,2238.665800,5.182977,Very Low,5.592578,Very Low
3141,Wyoming,WY,Weston,7208,2398.003888,3.968561,Very Low,6.318677,Very Low

In [7]:
df_nri.value_counts('STATE')

STATE
Texas                   254
Georgia                 159
Virginia                133
Kentucky                120
Missouri                115
Kansas                  105
Illinois                102
North Carolina          100
Iowa                     99
Tennessee                95
Nebraska                 93
Indiana                  92
Ohio                     88
Minnesota                87
Michigan                 83
Mississippi              82
Oklahoma                 77
Arkansas                 75
Wisconsin                72
Pennsylvania             67
Alabama                  67
Florida                  67
South Dakota             66
Colorado                 64
Louisiana                64
New York                 62
California               58
Montana                  56
West Virginia            55
North Dakota             53
South Carolina           46
Idaho                    44
Washington               39
Oregon                   36
New Mexico               33
Alaska                   29
Utah                     29
Maryland                 24
Wyoming                  23
New Jersey               21
Nevada                   17
Maine                    16
Arizona                  15
Vermont                  14
Massachusetts            14
New Hampshire            10
Connecticut               8
Rhode Island              5
Hawaii                    5
Delaware                  3
District of Columbia      1
dtype: int64